<persistence>
    <persistence-unit name="HibernatePersistenceUnit">
        <provider>org.hibernate.jpa.HibernatePersistence</provider>
        <class>br.com.persistence.HibernatePersistenceClass</class>
        <properties>
            <property name="hibernate.connection.driver_class" value="org.apache.derby.jdbc.ClientDriver"/>
            <property name="hibernate.connection.url" value="jdbc:mysql:localhost:3306:critter"/>
            <property name="hibernate.connection.username" value="sa"/>
            <property name="hibernate.connection.password" value="password"/>
        </properties>
    </persistence-unit>
</persistence>